.list-task {
    list-style: none;
    display: flex;
    justify-content: space-between;
    border: 1px solid white;
    border-radius: 8px;
    margin-bottom: 4px;
    padding-left: 10px;
    color: white;
    background-image: linear-gradient(to right, #25aae1, #4481eb, #04befe, #3f86ed);
    min-height: 30px;
    background-repeat: no-repeat;
    background-size: 200% 200%;

}

.list-task:hover{
    /* transform: scale(1.01); */
   
    background-position: 100% 0;
    transition: all 0.5s ease-in-out;
    /* transform: scale(1.01); */
    animation: border 2.5s infinite;

}

/* .list-task span {
    word-break: break-all;
    align-self: center;
} */

.controler-btns {
    display: flex;
    align-items: stretch;


}

.controler-btns::before{
    content: "";
    border-left: 1px solid white ;
    margin: 5px;
    height: 75%;
    align-self: center;

}

.list-task.liComplete span{
    animation: line 0.5s;
    animation-fill-mode: forwards; 
    
}
.task-content-title-show{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

}
.task-content p{
    margin: 4px;
    text-align: justify;
    font-weight: 400;
    word-break: break-all;
}
.task-content {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;

}

@keyframes line {
    0%{

    }
    100%{
        color: #a9a9a9;
    text-decoration: line-through;
    text-decoration-style: wavy;
    text-decoration-thickness: 2px;
    text-decoration-color: white;
    text-shadow: 2px 2px  4px black;

    }
}

@keyframes border {
0%{
    box-shadow: 0px 0px 2px 1px rgba(255, 255, 255, 0.459),inset 0px 0px 2px 1px rgb(2, 204, 255);

}
50%{
    box-shadow: 0px 0px 6px 6px rgba(255, 255, 255, 0.459),inset 0px 0px 4px 1px rgb(2, 204, 255);

}
100%{
    box-shadow: 0px 0px 2px 1px rgba(255, 255, 255, 0.459),inset 0px 0px 2px 1px rgb(2, 204, 255);

}
}