main form {
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.inputs {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

}